@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
  margin: 0;
  padding: 0;
}

html{
  display: flex;
  justify-content: center;
  background-color: white;
}

body{
  width: 80%
}

.App {
  text-align: center;
}

header{
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  background-color: rgb(50,120,240);
  font-family: 'Indie Flower', cursive;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 2rem;
  color:rgb(255, 135, 50);
}

.header-img{
  max-width: 250px;
  position: absolute;
  right: 25%;
  top: -1%
}

.search-cont{
  background-color:rgb(100,200,80);
  width: 100%;
  height: 5vh;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

main{
  background-color: white;
}

.poke-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  margin-top: 20px;
}

li{
  list-style: none;
  border-radius: 10px;
  border: rgb(252,199,39) 15px solid;
}

.poke-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 300px;
  height: 332.6px;
  width: 238.1px;
}

.poke-item-img-cont{
  border: 5px solid rgb(252,199,39);
  box-shadow: 2px 5px 10px black;
  width: 85%;
}

li img{
  width: 70%;
}

button{
  cursor: pointer;
}

.flex-cont{
  display: flex;
  justify-content: space-around;
}


